# Diisi otomatis oleh Vercel saat Anda membuat/menghubungkan
# database Vercel KV (Upstash Redis) ke project ini.
# Untuk development lokal, salin nilainya dari:
# Vercel Dashboard -> Project -> Storage -> KV database -> .env.local tab

KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=
